body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}
.contacts-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-link {
  color: #434455;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.page-footer {
  color: #f4f4fd;
  background-color: #2e2f42;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
.section-title {
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.2;
}
.section-subtitle {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
}
.section-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  background-color: #2e2f42;
  text-align: center;
}
.hero-button {
  background: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}

.logo-desc {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-three {
  background-color: #f4f4fd;
}
.section-list {
  background-color: #ffffff;
}
